body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 24px;
    font-family: 'Merriweather', serif;
    color: darkblue;
}

html, body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    min-height: 550px;
    border: darkblue 2px solid;
    opacity: 0.75;
}


h1 {
    font-family: 'Alfa Slab One', cursive;
    color: darkgoldenrod;
}

button {
    background-color: darkblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .answerChoice {
    display: block;
    width: 100%;
    border: none;
    background-color: white;
    color: darkblue;
    padding: 14px 28px;
    font-size: 32px;
    cursor: pointer;
    text-align: center;
  }

  .answerChoice:hover {
    background-color: darkblue;
    color: white;
  }